body{
    margin: 0;
    padding: 0;
    background-image: url(../images/image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#pageName{
    color:white;
}

#topBanner{
    display:flex;
    justify-content:space-between;
    align-items:center;  
    background-color: rgba(0,0,0,0.2);
    color:white;
}

ul {
    list-style: none;
    text-decoration: none ;

}

#navbar li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: bold;
}

#stats{
    color: white;
}
