:root {
    
    --maize: #F6D5A0;
    --pink: #FA9B95;
    --surf: #BBD6BF;
    --smalt-blue: #4E818B;
}


body{
    margin: 0;
    padding: 0;

}

/* NAVBAR/HEADER OF PAGE */
#pageName{
    color:white;
}

#topBanner{
    display:flex;
    justify-content:space-between;
    align-items:center;  
    background-color: rgba(0,0,0,0.2);
    color:white;
}

ul {
    list-style: none;
}

#navbar li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: bold;
}

#navbar li a{
    color: white;
    text-decoration: none;
    transform: all ease 0.5s;
}
#navbar li:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.2)
}


/* INPUT  */
h2{
font-size: 20px;
}






#stats{
    color: white;
}
