:root {
    
    --maize: #F6D5A0;
    --pink: #FA9B95;
    --surf: #BBD6BF;
    --smalt-blue: #4E818B;
    --text-blue: #1f2348;
}

* {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Laila', sans-serif;
}

html {
    height: 100%;
}

body{
    background-color: whitesmoke !important;
    margin-bottom: 5rem;
}

h2, h3, h4, p {
    color: var(--text-blue);
}

h1 {
    color: var(--surf);
    font-size: 5rem !important;
}

#but {
    color: var(--text-blue);
    font-size: 4.5rem !important;

}

#wiki > a > button {
    color: whitesmoke;
}
#wiki > a > button:hover {
    text-shadow: 2px 2px var(--maize);
    text-decoration: none;
    color: #1f2348;
}

.budgetyourtrip-cost-tile {
    border-radius: 15px;

}

select {
    border-radius: 10px;
}

#budgetyourtrip > div > h4 {
    font-size: 2rem;
}

.card {
    border: 0;
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
}

.btn {
    background-color: var(--smalt-blue);
    color: whitesmoke;
}

#currencyWidget {
    background-color: var(--maize);
    height: fit-content;
    margin: auto;
}

#budgetyourtrip {
    background-color: var(--pink);
    margin: auto;
}

#new {
    width: fit-content;
    margin: auto;
}

/* svg css */
.custom-shape-divider-bottom-1675462330 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675462330 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 260px;
}

.custom-shape-divider-bottom-1675462330 .shape-fill {
    fill: var(--surf);
}

/** For mobile devices **/
@media (max-width: 1100px) {
    .custom-shape-divider-bottom-1675462330 svg {
        display:none;
    }

    body{
        background-color: var(--surf) !important;
    }


    h1 {
        color: var(--pink);
    }
}