:root {
    
    --maize: #F6D5A0;
    --pink: #FA9B95;
    --bg-pink: #f0e5e4;
    --surf: #BBD6BF;
    --smalt-blue: #4E818B;
    --smalt-bg-blue: #c6d5c8;
    --text-blue: #1f2348;
}

* {
    font-family: 'Laila', sans-serif;
}

html {
    height: 100%;
}

body{
    background-color: var(--bg-pink)!important;
    margin-bottom: 5rem;
}

.container {
    margin-left: 3 !important;
}

h2, h3, h4, p {
    color: var(--text-blue);
}

h1 {
    color: var(--surf);
    font-size: 5rem !important;
}

#but {
    color: var(--text-blue);
    font-size: 4.5rem !important;
}

#wiki > a > button {
    color: whitesmoke;
}
#wiki > a > button:hover {
    text-shadow: 2px 2px var(--maize);
    text-decoration: none;
    color: #1f2348;
}

.budgetyourtrip-cost-tile {
    border-radius: 15px;

}

select {
    border-radius: 10px;
}

#budgetyourtrip > div > h4 {
    font-size: 2rem;
}

.card {
    border: 0;
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
}

.btn {
    background-color: var(--smalt-blue);
    color: whitesmoke;
}

#currencyWidget {
    background-color: var(--maize);
    height: fit-content;
    margin: auto;
}

#budgetyourtrip {
    background-color: var(--pink);
    margin: auto;
}

#new {
    width: fit-content;
    margin-left: 75vh;
    position: absolute;
}


/** For mobile devices **/
@media (max-width: 1100px) {

    body{
        background-color: var(--smalt-bg-blue) !important;
    }


    h1 {
        color: var(--pink);
    }
    #new{
        margin-left: 100px;
    }

}
